---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/fitness/v1/users/me/dataSources/derived:com.google.calories.expended:com.google.android.gms:merge_calories_expended/datasets/1435960800000000000-1438639200000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer the_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "minStartTimeNs": "1435960800000000000",
         "maxEndTimeNs": "1438639200000000000",
         "dataSourceId": "derived:com.google.calories.expended:com.google.android.gms:merge_calories_expended",
         "point": [
          {
           "startTimeNanos": "1435960588476000000",
           "endTimeNanos": "1435961234010000000",
           "dataTypeName": "com.google.calories.expended",
           "originDataSourceId": "derived:com.google.calories.expended:com.google.android.gms:from_activities",
           "value": [
            {
             "fpVal": 14.345199584960938
            }
           ],
           "modifiedTimeMillis": "1435962473997"
          },
          {
           "startTimeNanos": "1435961234010000000",
           "endTimeNanos": "1435961310043000000",
           "dataTypeName": "com.google.calories.expended",
           "originDataSourceId": "derived:com.google.calories.expended:com.google.android.gms:from_activities",
           "value": [
            {
             "fpVal": 6.420564651489258
            }
           ],
           "modifiedTimeMillis": "1435962473997"
          },
          {
       [...]
