---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/fitness/v1/users/me/dataSources/derived:com.google.distance.delta:com.google.android.gms:pruned_distance/datasets/1435960800000000000-1438639200000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer the_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "minStartTimeNs": "1435960800000000000",
         "maxEndTimeNs": "1438639200000000000",
         "dataSourceId": "derived:com.google.distance.delta:com.google.android.gms:pruned_distance",
         "point": [
          {
           "startTimeNanos": "1435961234010000000",
           "endTimeNanos": "1435961297397149000",
           "dataTypeName": "com.google.distance.delta",
           "originDataSourceId": "derived:com.google.step_count.delta:com.google.android.gms:merge_step_deltas",
           "value": [
            {
             "fpVal": 56.89790725708008
            }
           ],
           "modifiedTimeMillis": "1435962474175"
          },
          {
           "startTimeNanos": "1435961297397149000",
           "endTimeNanos": "1435961300599000000",
           "dataTypeName": "com.google.distance.delta",
           "originDataSourceId": "derived:com.google.step_count.delta:com.google.android.gms:merge_step_deltas",
           "value": [
            {
             "fpVal": 1.6027579307556152
            }
           ],
           "modifiedTimeMillis": "1435962474175"
          },
          {
        [...]
