---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/fitness/v1/users/me/dataSources/derived:com.google.heart_rate.bpm:com.google.android.gms:merge_heart_rate_bpm/datasets/1435960800000000000-1438639200000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.5AGcz1P9k4ERbXgoK0C7ChGDIt9QnlB2tuBywsB4sNoMH9GalJYhO4bFph0DBflu2MLnKg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "minStartTimeNs": "1435960800000000000",
         "maxEndTimeNs": "1438639200000000000",
         "dataSourceId": "derived:com.google.heart_rate.bpm:com.google.android.gms:merge_heart_rate_bpm",
         "point": [
          {
           "startTimeNanos": "1436510711658000000",
           "endTimeNanos": "1436510711658000000",
           "dataTypeName": "com.google.heart_rate.bpm",
           "originDataSourceId": "raw:com.google.heart_rate.bpm:com.ryansteckler.perfectcinch:",
           "value": [
            {
             "fpVal": 76.0
            }
           ],
           "modifiedTimeMillis": "1436564232439"
          },
          {
           "startTimeNanos": "1436514324969000000",
           "endTimeNanos": "1436514324969000000",
           "dataTypeName": "com.google.heart_rate.bpm",
           "originDataSourceId": "raw:com.google.heart_rate.bpm:com.ryansteckler.perfectcinch:",
           "value": [
            {
             "fpVal": 78.0
            }
           ],
           "modifiedTimeMillis": "1436564232439"
          },
          {
           "startTimeNanos": "14365169[...]
