---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/fitness/v1/users/me/dataSources/derived:com.google.activity.segment:com.google.android.gms:merge_activity_segments/datasets/1435960800000000000-1438639200000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer the_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "minStartTimeNs": "1441144800000000000",
         "maxEndTimeNs": "1442936322000000000",
         "dataSourceId": "derived:com.google.activity.segment:com.google.android.gms:merge_activity_segments",
         "point": [
          {
           "startTimeNanos": "1441130726925000000",
           "endTimeNanos": "1441192392169000000",
           "dataTypeName": "com.google.activity.segment",
           "originDataSourceId": "derived:com.google.activity.segment:com.google.android.gms:motorola:XT1032:43f851c5:from_sample\u003c-derived:com.google.activity.sample:com.google.android.gms:motorola:XT1032:43f851c5:detailed",
           "value": [
            {
             "intVal": 3
            }
           ],
           "modifiedTimeMillis": "1441764140335"
          },
          {
           "startTimeNanos": "1441192698490000000",
           "endTimeNanos": "1441194224508000000",
           "dataTypeName": "com.google.activity.segment",
           "originDataSourceId": "derived:com.google.activity.segment:com.google.android.gms:motorola:XT1032:43f851c5:from_sample\u003c-derived:com.google.activity.sample:com.google.android.gms:motorola:XT1032:43f851c5:detailed",
           "value": [
            {
             "intVal": 3
       [...]
