---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/activities/calories/date/2015-07-04/1d/1min.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer the_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '145'
      Fitbit-Rate-Limit-Reset:
      - '698'
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"activities-calories":[{"dateTime":"2015-07-04","value":"1239"}],"activities-calories-intraday":{"dataset":[{"level":0,"mets":10,"time":"00:00:00","value":0.8610000014305115},{"level":0,"mets":10,"time":"00:01:00","value":0.8610000014305115},{"level":0,"mets":10,"time":"00:02:00","value":0.8610000014305115},{"level":0,"mets":10,"time":"00:03:00","value":0.8610000014305115},{"level":0,"mets":10,"time":"00:04:00","value":0.8610000014305115},{"level":0,"mets":10,"time":"00:05:00","value":0.8610000014305115},{"level":0,"mets":10,"time":"00:06:00","value":0.8610000014305115},{"level":0,"mets":10,"time":"00:07:00","value":0.8610000014[...]
[...]
