---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/activities/distance/date/2015-07-04/1d/1min.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer the_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '29'
      Fitbit-Rate-Limit-Reset:
      - '2870'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"activities-distance":[{"dateTime":"2015-07-04","value":"0.0"}],"activities-distance-intraday":{"dataset":[{"time":"00:00:00","value":0},{"time":"00:01:00","value":0},{"time":"00:02:00","value":0},{"time":"00:03:00","value":0},{"time":"00:04:00","value":0},{"time":"00:05:00","value":0},{"time":"00:06:00","value":0},{"time":"00:07:00","value":0},{"time":"00:08:00","value":0},{"time":"00:09:00","value":0},{"time":"00:10:00","value":0},{"time":"00:11:00","value":0},{"time":"00:12:00","value":0},{"time":"00:13:00","value":0},{"time":"00:14:00","value":0},{"time":"00:15:00","value":0},{"time":"00:16:00","value":0[...]
[...]
