---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/activities/heart/date/2015-07-04/2015-08-04.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer the_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '125'
      Fitbit-Rate-Limit-Reset:
      - '1780'
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"activities-heart":[{"dateTime":"2015-07-04","value":{"customHeartRateZones":[],"heartRateZones":[{"max":94,"min":30,"name":"Out
        of Range"},{"max":131,"min":94,"name":"Fat Burn"},{"max":159,"min":131,"name":"Cardio"},{"max":220,"min":159,"name":"Peak"}]}},{"dateTime":"2015-07-05","value":{"customHeartRateZones":[],"heartRateZones":[{"max":94,"min":30,"name":"Out
        of Range"},{"max":131,"min":94,"name":"Fat Burn"},{"max":159,"min":131,"name":"Cardio"},{"max":220,"min":159,"name":"Peak"}]}},{"dateTime":"2015-07-06","value":{"customHeartRateZones":[],"heartRateZones":[{"max":94,"min":30,"name":"Out
       [...]
