---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/sleep/date/2015-07-04.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer the_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '123'
      Fitbit-Rate-Limit-Reset:
      - '1778'
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"sleep":[],"summary":{"totalMinutesAsleep":0,"totalSleepRecords":0,"totalTimeInBed":0}}'
  recorded_at: Fri, 04 Sep 2015 12:30:22 GMT
recorded_with: VCR 2.9.3
