---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/activities/steps/date/2015-07-04/2015-08-04.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer the_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '127'
      Fitbit-Rate-Limit-Reset:
      - '1781'
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"activities-steps":[{"dateTime":"2015-07-04","value":"0"},{"dateTime":"2015-07-05","value":"0"},{"dateTime":"2015-07-06","value":"0"},{"dateTime":"2015-07-07","value":"0"},{"dateTime":"2015-07-08","value":"0"},{"dateTime":"2015-07-09","value":"0"},{"dateTime":"2015-07-10","value":"0"},{"dateTime":"2015-07-11","value":"0"},{"dateTime":"2015-07-12","value":"0"},{"dateTime":"2015-07-13","value":"1327"},{"dateTime":"2015-07-14","value":"5822"},{"dateTime":"2015-07-15","value":"23138"},{"dateTime":"2015-07-16","value":"10065"},{"dateTime":"2015-07-17","value":"12685"},{"dateTime":"2015-07-18","value":"6971"},{"dateTime":"2015-07-19","value":"3550"},{"dateTime":"2015-07-20","value":"16557"},{"dateTime":"2015-07-21","value":"16569"},{"dateTime":"2015-07-22","value":"24082"},{"dateTime":"2015-07-23","value":"9197"},{"dateTime":"2015-07-24","value":"12886"},{"dateTime":"2015-07-25","value":"20603"},{"dateTime":"2015-07-26","value":"2265"},{"dateTime":"2015-07-27","value":"8957"},{"dateTime":"2015-07-28","value":"8375"},{"dateTime":"2015-07-29","value":"17382"},{"dateTime":"2015-07-30","value":"8622"},{"dateTime":"2015-07-31","value":"14950"},{"dateTime":"2015-08-01","value":"24899"},{"dateTime":"2015-08-02","value":"8399"},{"dateTime":"2015-08-03","value":"18393"},{"dateTime":"2015-08-04","value":"6901"}]}'
  recorded_at: Fri, 04 Sep 2015 12:30:19 GMT
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/activities/steps/date/2015-07-04/1d/1min.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer the_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '149'
      Fitbit-Rate-Limit-Reset:
      - '3318'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"activities-steps":[{"dateTime":"2015-07-04","value":"23138"}],"activities-steps-intraday":{"dataset":[{"time":"00:00:00","value":0},{"time":"00:01:00","value":0},{"time":"00:02:00","value":0},{"time":"00:03:00","value":0},{"time":"00:04:00","value":0},{"time":"00:05:00","value":0},{"time":"00:06:00","value":0},{"time":"00:07:00","value":0},{"time":"00:08:00","value":0},{"time":"00:09:00","value":0},{"time":"00:10:00","value":0},{"time":"00:11:00","value":0},{"time":"00:12:00","value":0},{"time":"00:13:00","value":0},{"time":"00:14:00","value":0},{"time":"00:15:00","value":0},{"time":"00:16:00","value":0[...]
[...]
